
.MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    position: fixed;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    color: white;
    background-color: #42ADFD;
    /* background-color: rgba(0,0,0,0.4); */
    margin-bottom: 0px;
    bottom: 0;
    padding: 0px 10px 0px 10px;
}

.MainContainer::-webkit-scrollbar {
    display: none;
}

.card {
    /* height: 40% !important; */
    width: 20rem;

}

.card-header {
    background: white !important;
    text-align: left;
    font-weight: 700;
    color: #42ADFD !important;
    font-size: 16px;
}


.cardDiv {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    grid-gap: 12px;
    font-weight: 700;
}

.cardDiv div {
    height: 2px;
    width: 200px;
    background-color: lightgray;
    /* margin-top: 20px; */
}


/* enter city name input box */
.form-control {
    margin-top: 10px;
    color: lightgray !important;
    border: 2px solid lightgrey !important;
    border-radius: 1px !important;
    text-align: center;
    font-weight: 500 !important;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.form-control::placeholder {
    color: lightgray !important;
}

/*temperature */
.InsideCardbody p {
    font-weight: 500 !important;
}



/* card footer for humidity*/
.card-footer {
    background: white !important;
    font-weight: 600;
    color: #42ADFD !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0px 10px 0px 10px !important; */
    padding: 0px !important;
}

/* horizontal line*/
.card-footer .horizontal {
    border-right: 1px solid lightgrey;
    height: 56px;
}

/* card footer inside div*/
.footerInside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-gap: 7px;
}

.footerInside i {
    font-size: 25px;
}

/* feels like and humidity*/
.footerInside .temperature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: black;
}


/*  icon*/
.bi-arrow-left::before {
    font-weight: bold !important;
    line-height: 1.2;
    cursor: pointer;
}



/* get devoce location button*/
.btn {
    margin-top: 10px;
    width: 100%;
    background-color: #42ADFD !important;
    color: white !important;
    margin-bottom: 7px;
    border: none !important;
    font-size: 15px !important;
}
